<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <style>
            h1 {
                color: #46BB95;
            }
            p {
                font-size: 16px;
                color: #333333;
            }
            h2 {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
        </style>
    </head>
    <body>
        <h1>Proposta Recebida - Habitasse</h1>
        <p>Ooba! <span th:text="${userName}"></span> você recebeu uma nova proposta no Habitasse! Acesse
            <a href="https://habitasseapp.com/auth/login" target="_blank">habitasseapp</a>
            para ver os detalhes.
        </p>
        <h2>
            <img alt="avatar" th:src="'https://habitasse.s3.us-east-2.amazonaws.com/emails-img/WhatsApp+Image+2024-05-28+at+19.40.01.jpeg'">
        </h2>
    </body>
</html>
